html, body, header, section, aside, footer, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 1200px;
    min-height: 100%;
    font-family: "微软雅黑", Arial, "Microsoft Yahei";
    font-size: 14px;
    color: #333333;
}
body {
    background-color: #F8F8F8;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
ul, ol, li {
    list-style: none;
}
input, button, textarea, select {
    box-sizing: border-box;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    font-family: Arial, "Microsoft Yahei";
}
select::-ms-expand { display: none; } 
select {
    background-image: url(img/caret.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #181818;
}
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.lt {
    float: left;
}
.rt {
    float: right;
}

/********** 公共头部 **********/
nav {
    width: 100%;
    height: 100px;
    background-color: #C30F23;
}
nav > .container {
    width: 80%;
}
.nav-logos {
    height: 45px;
    margin-top: 27px;
}
.logo-tdc, .logo-cdts {
    display: inline-block;
    width: auto;
    height: 45px;
}
.logo-tdc {
    margin-right: 15px;
}
.logo-divide {
    height: 25px;
    border-left: 1px solid #CDCDCD;
    margin: 38px 15px 0 15px;
}
.logo-desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
    color: #fff;
}
.nav-list {
    width: auto;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    margin-top: 23px;
}
.nav-item:not(:last-child) {
    margin-right: 20px;
}
.nav-item .divide {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    border-left: 1px solid #CDCDCD;
    margin: 0 15px 0 0;
}
.navitem-caret, .navitem-text {
    display: inline-block;
    vertical-align: middle;
}
.navitem-caret {
    margin-right: 5px;
}
.navitem-text {
    color: #fff;
}
.loginout-btn {
    display: inline-block;
    width: 60px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.loginout-btn::selection {
    background-color: transparent;
}

/********** 共同容器 **********/
.wrapper {
    margin-top: 25px;
}
.wrapper > .container {
    width: 80%;
}

/********** 公共侧边栏菜单 **********/
.menu {
    width: 150px;
}
.menu-list {
    margin-bottom: 60px;
}
.menu-category {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    padding-left: 16px;
}
.menu-item {
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

/********** 公共右侧内容容器 **********/
.page-content {
    width: calc(100% - 155px);
    width: -webkit-calc(100% - 155px);
    width: -moz-calc(100% - 155px);
}
.menu-title {
    box-sizing: border-box;
    height: 55px;
    padding: 15px 0;
    color: #181818;
    background-color: #fff;
}
.menu-title > .container {
    width: 98%;
}
.menutitle-text {
    font-size: 16px;
    line-height: 25px;
}
.main-content {
    margin-top: 15px;
    padding: 15px 0 60px;
    background-color: #fff;
}
.main-content > .container {
    width: 98%;
}
.content-tab {
    height: 40px;
    overflow: hidden;
}
.contenttab-item {
    height: 40px;
    margin-right: 50px;
}
.tab-link {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: #494949;
}
.tab-link.active {
    color: #C30F23;
    border-bottom-color: #C30F23;
}
.tab-label {
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
    font-size: 12px;
    line-height: normal;
    color: #fff;
    font-weight: normal;
    background-color: #E54144;
    border-radius: 100px;
}