html, body, header, section, aside, footer, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 1200px;
    min-height: 100%;
    font-family: "微软雅黑", Arial, "Microsoft Yahei";
    font-size: 14px;
    color: #333333;
}
body {
    background-color: #F8F8F8;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
ul, ol, li {
    list-style: none;
}
input, button, textarea, select {
    box-sizing: border-box;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    font-family: Arial, "Microsoft Yahei";
}
select::-ms-expand { display: none; } 
select {
    background-image: url(img/caret.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #181818;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #565656;
}
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.lt {
    float: left;
}
.rt {
    float: right;
}

/********** 公共头部 **********/
nav {
    width: 100%;
    height: 100px;
    background-color: #C30F23;
}
nav > .container {
    width: 80%;
}
.nav-logos {
    height: 45px;
    margin-top: 27px;
}
.logo-tdc, .logo-cdts {
    display: inline-block;
    width: auto;
    height: 42px;
}
.logo-tdc {
    margin-right: 15px;
}
.logo-divide {
    height: 25px;
    border-left: 1px solid #CDCDCD;
    margin: 35px 15px 0 15px;
}
.logo-desc {
    /* font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
    color: #fff; */

    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin-top: 35px;
    color: #fff;
}
.nav-list {
    width: auto;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    margin-top: 23px;
}
.nav-item:not(:last-child) {
    margin-right: 20px;
}
.nav-item .divide {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    border-left: 1px solid #CDCDCD;
    margin: 0 15px 0 0;
}
.navitem-caret, .navitem-text {
    display: inline-block;
    vertical-align: middle;
}
.navitem-caret {
    margin-right: 5px;
}
.navitem-text {
    color: #fff;
}
.loginout-btn {
    display: inline-block;
    width: 60px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.loginout-btn::selection {
    background-color: transparent;
}

/********** 共同容器 **********/
.wrapper {
    margin-top: 25px;
}
.wrapper > .container {
    width: 80%;
}

/********** 公共活动栏（活动名称，时间，地点，其他活动入口） **********/
.activity {
	box-sizing: border-box;
    height: 80px;
    padding: 25px 0;
    margin: 0 0 20px;
    background-color: #fff;
}
.activity > .container {
	width: 95%;
	overflow: visible;
}
.activity-title {
	font-size: 16px;
    line-height: 30px;
    margin-right: 30px;
}
.activity-time, .activity-site {
	display: inline-block;
    font-size: 16px;
    line-height: 30px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}
.activity-time {
	background-image: url(img/date.png);
}
.activity-site {
    background-image: url(img/site.png);
    background-position: left 5px center;
}
.other-activity {
	position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
	border: 1px solid #767676; 
    padding: 0 10px 0 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px;
    background: url(img/other.png) left 5px center no-repeat;
    cursor: pointer;
}
	/* 鼠标上去，其他活动放出 */
.other-activity:hover {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.other-activity:hover .other-activity-box {
	display: block;
}
.other-activity-box {
	position: absolute;
	top: 100%;
	right: -1px;
	box-sizing: border-box;
    width: 600px;
    border: 1px solid #767676;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    z-index: 20;
    display: none;
}
.other-activity-box:before {
	position: absolute;
	display: block;
	top: -2px;
	right: 0;
	content: "";
	width: 98px;
	height: 5px;
	background-color: #fff;
}
.other-activity-item {
	box-sizing: border-box;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #767676;
}
.other-activity-logo {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    margin-right: 15px;
}
.other-activity-title {
	line-height: 80px;
    font-size: 15px;
}
.other-activity-link, .no-link {
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 25px;
	border: 1px solid #767676;
	color: #333333;
}
.no-link {
	border: 1px solid #E8E8E8;
	background-color: #F7F9FA;
	color: #989898;
	cursor: not-allowed;
}


/********** 公共侧边栏菜单 **********/
.menu {
    width: 150px;
    padding-top: 10px;
}
.menu-list {
    margin-bottom: 40px;
}
.menu-category {
    font-size: 16px;
    line-height: 35px;
    color: #333333;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.icon-home {
    background-image: url(img/menu-icon5.png);
}
.icon-exhibitor {
    background-image: url(img/menu-icon1.png);
}
.icon-ticket {
    background-image: url(img/menu-icon2.png);
}
.icon-account {
    background-image: url(img/menu-icon3.png);
}
.icon-help {
    background-image: url(img/menu-icon4.png);
}
.menu-item {
    display: block;
    font-size: 16px;
    line-height: 35px;
    color: #333333;
}
.menu-item.active {
    color: #C30F23;
}

/********** 公共右侧内容容器 **********/
.page-content {
    width: calc(100% - 155px);
    width: -webkit-calc(100% - 155px);
    width: -moz-calc(100% - 155px);
}
.menu-title {
    box-sizing: border-box;
    height: 55px;
    padding: 15px 0;
    color: #181818;
    background-color: #fff;
}
.menu-title > .container {
    width: 97%;
}
.menutitle-text {
    font-size: 16px;
    line-height: 25px;    
    margin-right: 20px;
}
.menutitle-desc {
    font-size: 16px;
    line-height: 25px;
    color: #C30F23;
    cursor: pointer;    
}
.menutitle-caret {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C30F23;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
}
.main-content {
    margin-top: 15px;
    padding: 15px 0 60px;
    background-color: #fff;
}
.main-content > .container {
    width: 97%;
}
.content-tab {
    height: 40px;
    overflow: hidden;
    margin-bottom: 25px;
}
.contenttab-item {
    height: 40px;
    margin-right: 50px;
}
.tab-link {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: #494949;
}
.tab-link.active {
    color: #C30F23;
    border-bottom-color: #C30F23;
}
.tab-label {
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
    font-size: 12px;
    line-height: normal;
    color: #fff;
    font-weight: normal;
    background-color: #E54144;
    border-radius: 100px;
}

/********** 公共固定右侧联系方式 **********/
.fixedcontact {
    position: fixed;
    bottom: 150px;
    right: 0;
    width: 90px;
    height: 115px;
    background-color: #fff;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    cursor: pointer;
}
.contact-icon {
    box-sizing: border-box;
    display: block;
    /* width: 35px;
    height: 35px; */
    margin: 10px auto;
}
.contact-tips {
    text-align: center;
    color: #181818;
    font-size: 14px;
}
.contact-box {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 110px;
    width: 190px;
    height: 135px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #C1C1C1;
    /* border-right: 0; */
    display: none;    
}
.contact-box::after {
    position: absolute;
    content: "";
    width: 15px;
    top: 55px;
    right: -8px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #C1C1C1;
    border-left-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(45deg);
}
.contact-item:not(:last-child) {
    margin-bottom: 15px;
}
.contact-label {
    line-height: 25px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto;
}
.serviceTel {
    background-image: url(img/tel.png);
}
.serviceTime {
    background-image: url(img/time.png);
    background-size: 20px;
}
.contact-desc {
    font-size: 12px;
    line-height: 20px;
}
.fixedcontact:hover .contact-box {
    display: block;
}

/********** 公共信息修改成功对话框 **********/
.successDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.successDialog-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.successDialog-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    /* height: 155px; */
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.successDialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.successDialog-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.successDialog-desc {
    box-sizing: border-box;
    line-height: 20px;
    padding: 20px;
}
.cancelSuccessDialog {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    background-color: #C30F23;
    color: #fff;
    cursor: pointer;
}