.main-content > .container {
    overflow: visible;
}
.main-content > .container::after {
    display: block;
    content: "";
    clear: both;
}
.menutitle-desc {
	font-size: 14px;
	color: #333333;
	cursor: initial;
}
.menutitle-desc b {
	color: #C30F23;
}
/********** 本页面的一些公共样式 **********/
.form-group {
    margin-bottom: 15px;
    min-height: 20px;
    overflow: hidden;
}
.form-label {
    display: block;
    font-size: 15px;
    line-height: 20px;
    min-height: 20px;
    color: #565656;
    margin-bottom: 5px;
}
.input-group {
    overflow: hidden;
}
.form-item {
    /*height: 65px;*/
   height: 90px;
}
.middle-item {
    width: 48%;
}
.require-mark {
    font-style: normal;
    color: #C30F23;
}
.form-tips {
    color: #C30F23;
    margin-left: 5px;
    line-height: 25px;
    display: none;
}
.form-input {
    width: 265px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #EEEEEE;
    background-color: #F8F8F8;
}
.middle-item > .form-input {
    width: 100%;
}
.input-small {
    width: 70px;
    margin-right: 20px;
}
.submitBtn {
    display: block;
    width: 165px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    background-color: #003a8c;
    color: #fff;
    cursor: pointer;
}

/********** 公司信息 **********/
.main-infomation-form {
    margin-bottom: 15px;
}
.main-infomation-form::after {
    display: block;
    content: "";
    clear: both;
}
.main-infomation-left {
    width: 65%;
    margin-bottom: 15px;
}
.industry {
    position: relative;
    height: auto;
    min-height: 40px;
}
.industry-select {
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    width: 100%;
    height: auto;
    min-height: 40px;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}
.industry-show {
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    min-height: 40px;
    height: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.dropdown-caret {
    display: block;
    border: 5px solid transparent;
    border-top-color: black;
    border-top-width: 10px;
    margin: 15px 10px 0 0;
}
.show-tag {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    background-color: #F8F8F8;
    margin: 5px;
    padding: 0 5px;
}
.tag-delete {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.industry-tip {
    position: absolute;
    top: 100%;
}
.industry-category {
    box-sizing: border-box;
    position: absolute;
    height: 500px;
    top: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    overflow-y: scroll;
    display: none;
}
.industry-group {
    overflow: hidden;
    margin-bottom: 15px;
}
.industry-category-title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
}
.industry-tag {
    height: 30;
    line-height: 30px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
    /* 行业标签激活的样式 */
.industry.active .industry-select {
    border-color: #565656;
}
.industry.active .industry-category {
    display: block;
}
.large-item {
    height: 175px;
    margin-bottom: 15px;
}
.form-textarea {
    width: 100%;
    height: 155px;
    padding: 10px;
    resize: none;
}
.main-infomation-right {
    width: 35%;
}
.logo-area {
    position: relative;
    /*width: 220px;*/
    /*height: 180px;*/
   	width: 168px;
   	height: 74px;
    background-color: #F8F8F8;
    margin: 0 auto;
}
.logo-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: none;
}
.logo-tip {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* color: #003a8c; */
    color: #fff;
    z-index: 10;
    cursor: pointer;
   	/*display: none;*/
}


/********** 上传logo对话框 **********/
.upload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.upload-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.upload-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.upload-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.upload-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.upload-content {
    width: 400px;
    margin: 30px auto 0;
}
.logo-large {
    width: 400px;
    height: 250px;
    background-color: aliceblue;
}
.logo-large > img {
    max-width: 100%;
}
.upload-label {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 15px auto 0;
    text-align: center;
    color: #fff;
    background-color: #003a8c;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}
.uploadInput {
    display: none;
}
.preview {
    /*width: 220px !important;*/
    /*height: 180px !important;*/
   	width: 168px !important;
   	height: 74px !important;
    margin: 15px auto 0;
    background-color: aliceblue;
    overflow: hidden;
}
.preview canvas {
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
}
.uploadbtns-group {
    box-sizing: border-box;
    height: 65px;
    padding-top: 20px;
    text-align: center;
}
.upload-confirm, .upload-cancel {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    padding: 0;
    border-radius: 2px;
    line-height: 30px;
    cursor: pointer;    
}
.upload-confirm {
    margin-right: 20px;
    background-color: #003a8c;
    color: #fff;
    border-radius: 2px;
}
.upload-cancel {
    border: 1px solid #003a8c;
    color: #003a8c;
    background-color: transparent;
}