/********** 联系信息 **********/
.form-group {
    margin-bottom: 15px;
    min-height: 20px;
}
.form-label, .form-input {
    display: inline-block;
    vertical-align: middle;
}
.form-label {
    width: 120px;
    text-align: right;
    font-size: 15px;
    color: #565656;
}
.require-mark {
    font-style: normal;
    color: #C30F23;
}
.form-tips {
    color: #C30F23;
    margin-left: 10px;
    display: none;
}
.form-input {
    width: 265px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #EEEEEE;
    background-color: #F8F8F8;
}
.submitBtn {
    width: 165px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: #C30F23;
    color: #fff;
    cursor: pointer;
}
