/********** 联系信息 **********/
.form-group {
    margin-bottom: 15px;
}
.form-label, .contact-input, .errTip {
    display: inline-block;
    vertical-align: middle;
}
.form-label {
    width: 120px;
    text-align: right;
    font-size: 15px;
    color: #565656;
}
.require-mark {
    font-style: normal;
    color: #C30F23;
}
.errTip {
    color: #C30F23;
    margin-left: 10px;
    display: none;
}
.contact-input {
    width: 265px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #EEEEEE;
    background-color: #F8F8F8;
}
.submitBtn {
    width: 165px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: #C30F23;
    color: #fff;
    margin-top: 35px;
    cursor: pointer;
}

/********** 信息修改成功对话框 **********/
.successDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.successDialog-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.successDialog-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    /* height: 155px; */
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.successDialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.successDialog-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.successDialog-desc {
    box-sizing: border-box;
    line-height: 20px;
    padding: 20px;
}
.cancelSuccessDialog {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    background-color: #C30F23;
    color: #fff;
    cursor: pointer;
}