html, body, header, section, aside, footer, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 1200px;
    min-height: 100%;
    font-family: "微软雅黑", Arial, "Microsoft Yahei";
    font-size: 14px;
    color: #333333;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
ul, ol, li {
    list-style: none;
}
input, button, textarea, select {
    box-sizing: border-box;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    font-family: Arial, "Microsoft Yahei";
}
select::-ms-expand { display: none; } 
select {
    background-image: url(img/caret.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #181818;
}
/*input:-webkit-autofill {
	background-color: #fff !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	background: url(img/account3.png) transparent left 10px center no-repeat !important;
}*/
/* input:focus, select:focus {
    border: 1px solid #565656;
} */
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.lt {
    float: left;
}
.rt {
    float: right;
}

/********** 登录容器 **********/
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 430px; */
    width: 650px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.logo {
    text-align: center;
    /*margin: 80px 0;*/
   	margin: 50px 0;
}
.traveldaily-logo, .tdc-logo, .cdts-logo, .divide, .logo-title {
    display: inline-block;
    vertical-align: middle;
}
.traveldaily-logo, .tdc-logo, .cdts-logo {
    width: 130px;
}
.tdc-logo {
    margin-right: 30px;
}
.divide {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    border-left: 1px solid #CDCDCD;
    /* margin: 24px 15px 0 15px; */
    margin: 0 15px;
}
.logo-title {
    font-size: 22px;
    font-weight: normal;
    color: #181818;
}
.login-box {
    width: 440px;
    margin: 0 auto 80px;
}
.form-group {
    position: relative;
    overflow: hidden;
}
.form-input {
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding: 0 10px 0 35px;
    border: 1px solid #D3D3D3;
    background-color: #fff;
}
#account {
    margin-bottom: 15px;
    background: url(img/account3.png) left 10px center no-repeat;
}
#password {
    background: url(img/password.png) left 10px center no-repeat;
}
.autologin {
    display: block;
    margin: 20px 0 60px;
    line-height: 20px;
    cursor: pointer;
}
.autologin::selection {
    background-color: transparent;
}
.form-checkbox {
    display: none;
}
.form-checkbox + i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
}
.form-checkbox:checked + i:after {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 9px;
    top: -2px;
    left: 3px;
    border-bottom: 2px solid #003a8c;
    border-right: 2px solid #003a8c;
    transform: rotate(40deg);
}
.tips {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    color: red;
    display: none;
}
.login-btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #003a8c;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.cantlogin {
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #003a8c;
    margin-top: 20px;
    cursor: pointer;
}
.contact {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F8F8F8;
    color: #858585;
    display: none;
}
.contact::before {
    position: absolute;
    display: block;
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #F8F8F8;
    top: -19px;
    left: 165px;
}
.cantlogin:hover .contact {
    display: block;
}

.activity {
	box-sizing: border-box;
	width: 600px;
	border: 1px solid #e8e8e8;
	margin: 0 auto 20px;
	padding: 20px;
	display: none;
}
.activity-desc {
	font-weight: normal;
	margin-bottom: 20px;
}
.activity-item {
	box-sizing: border-box;
	height: 100px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #e8e8e8;
}
.activity-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: none;
	margin-right: 15px;
}
.activity-title {
	line-height: 80px;
	font-size: 15px;
	font-weight: bold;
}
.activity-link, .no-link {
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 25px;
	border: 1px solid #003a8c;
	color: #003a8c;
}
.no-link {
	border: 1px solid #E8E8E8;
	background-color: #F7F9FA;
	color: #989898;
	cursor: not-allowed;
}
