/********** 本页面的一些公共样式 **********/
.form-group {
    margin-bottom: 11px;
    min-height: 20px;
    overflow: hidden;
}
.form-label {
    display: block;
    font-size: 15px;
    color: #565656;
    margin-bottom: 5px;
}
.small-label {
    width: 105px;
    margin: 10px 0 0;
}
.form-item {
    height: 65px;
}
.small-item {
    width: -wekit-calc(100% - 115px);
    width: calc(100% - 115px);
    width: -moz-calc(100% - 115px);
    margin-left: 5px;
}
.large-item {
    height: 110px;
}
.require-mark {
    font-style: normal;
    color: #C30F23;
}
.form-tips {
    color: #C30F23;
    margin-left: 5px;
    line-height: 25px;
    display: none;
}
.form-input {
    /* width: 265px; */
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #EEEEEE;
    background-color: #F8F8F8;
}
.form-textarea {
    height: 80px;
    padding: 10px;
    resize: none;
}
.submitBtn {
    display: block;
    width: 165px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin: 25px auto 0;
    background-color: #003a8c;
    color: #fff;
    cursor: pointer;
}
/********** 产品信息 **********/
.product-list {
    text-align: center;
}
.product-row {
    box-sizing: border-box;
    height: 145px;
    padding: 32px 0;
    border-bottom: 1px solid #F8F5F0;    
}
.product-row::after {
    display: block;
    content: "";
    clear: both;
}
.bgrow {
    height: 50px;
    padding: 0;
    background-color: #EEEEEE;
    border-bottom: 0;
}
.column-1 {
    width: 8%;
}
.column-2 {
    width: 17%;
}
.column-3 {
    width: 19%;
}
.column-4 {
    width: 38%;
}
.column-5 {
    width: 18%;
}
.hide-column {
	display: none;
}
.column-large {
    width: 100%;
}
.product-thead {
    font-size: 15px;
    line-height: 20px;
    color: #181818;
    margin-top: 15px;
}
.question-mark {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: -5px;
    line-height: 15px;
    font-size: 12px;
    border: 1px solid #181818;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.explain {
    position: absolute;
    bottom: 25px;
    left: -40px;
    white-space: nowrap;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #767676;
    background-color: #fff;
    display: none;  
}
.explain:after {
	position: absolute;
	display: block;
	content: "";
	top: 21px;
	left: 40px;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-left: 1px solid #767676;
	border-bottom: 1px solid #767676;
	transform: rotate(-45deg);	
}
.question-mark:hover .explain {
	display: block;
}
.productId, .productName, .productNameEn {
    display: block;
    line-height: 80px;
}
.productName, .productNameEn {
	display: -webkit-box;
    height: 40px;
    padding: 0 5px;
    line-height: initial;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*text-align: left;*/
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.product-logo {
    display: inline-block;
    /*width: 145px;
    height: 80px;*/
   	/*width: 168px;
   	height: 74px;*/
   	width: 100%;
   	height: auto;
   	max-width: 168px;
   	max-height: 74px;
    background-color: grey;
}
.product-desc, .product-descEn {
    display: -webkit-box;
    height: 40px;
    padding: 0 5px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.edit, .del {
    display: inline-block;
    width: 30px;
    line-height: 25px;
    margin-top: 22px;
    cursor: pointer;   
}
.edit {
    color: #003a8c;
    margin-right: 10px;     
}
.moveup, .movedown {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-top: 22px;
    cursor: pointer;
}
.moveup::after, .movedown::after {
    display: block;
    position: absolute;
    left: 12px;
    content: "";
    width: 8px;
    height: 8px;
    border-left: 1px solid #767676;
    border-bottom: 1px solid #767676;
}
.moveup::after {
    top: 16px;    
    transform: rotate(135deg);
}
.movedown::after {
    top: 10px;    
    transform: rotate(-45deg);
}
.empty-text {
    font-size: 15px;
    line-height: 30px;
    color: #777777;
    margin-top: 25px;
}
.addProduct {
    height: 25px;
    color: #003a8c;
    border-bottom: 1px solid #003a8c;
}
.attention {
    margin-top: 25px;
    overflow: hidden;
}
.attention-text {
    font-size: 14px;
    line-height: 40px;
    color: #777777;
}
.addProductBtn {
    width: 165px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #003a8c;
    border: 1px solid #003a8c;
    background-color: #fff;
    cursor: pointer;
}

/********** 添加产品服务信息对话框 **********/
.product-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.product-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.product-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.product-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.product-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.product-form {
	box-sizing: border-box;
	height: 535px;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.main-product-form {
    overflow: hidden;
}
.main-product-left {
    width: 65%;
}
.main-product-right {
    width: 35%;
}
.logo-area {
    position: relative;
    display: block;
    /*width: 145px;
    height: 80px;*/
   	width: 168px;
   	height: 74px;
    margin: 0 auto;
    background-color: #F8F8F8;
}
.logo-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: none;
}
.logo-tip {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* color: #003a8c; */
    color: #fff;
    z-index: 10;
    cursor: pointer;
}
.upload-desc {
    font-size: 12px;
    color: #747474;
    text-align: center;
    margin-top: 10px;
}
.product-tags {
	position: relative;
    height: auto;
    min-height: 40px;
}
.tag-select {
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    width: 100%;
    height: auto;
    min-height: 40px;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}
.tag-show {
	width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    min-height: 40px;
    height: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.dropdown-caret {
    display: block;
    border: 5px solid transparent;
    border-top-color: black;
    border-top-width: 10px;
    margin: 15px 10px 0 0;
}
.show-tag {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    background-color: #F8F8F8;
    margin: 5px;
    padding: 0 5px;
}
.tag-delete {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.product-tag-tip {
    position: absolute;
    top: 100%;
}
.tag-category {
	box-sizing: border-box;
    position: absolute;
    /*top: 100%;*/
   	width: 100%;
   	height: 365px;
   	bottom: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    z-index: 20;
    overflow-y: scroll;
    display: none;
}
.tag-group {
	overflow: hidden;
    margin-bottom: 15px;
}
.tag-category-title {
	font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
}
.product-tag {
	line-height: 30px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
	/* 产品标签激活的样式 */
.product-tags.active .tag-select {
	border-color: #565656;
}
.product-tags.active .tag-category {
	display: block;
}
.product-tags.active .product-tag-tip {
	display: none;
}


/********** 上传logo对话框 **********/
.upload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}
.upload-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.upload-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.upload-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.upload-title {
    box-sizing: border-box;
    height: 45px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
    line-height: 44px;
    font-weight: normal;
}
.upload-content {
    /* width: 400px; */
    width: 300px;
    margin: 30px auto 0;
}
.logo-large {
    /* width: 400px; */
    /* height: 250px; */
    width: 300px;
    height: 150px;
    background-color: aliceblue;
}
.logo-large > img {
    max-width: 100%;
}
.upload-label {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 15px auto 0;
    text-align: center;
    color: #fff;
    background-color: #003a8c;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}
.uploadInput {
    display: none;
}
.preview {
    /*width: 145px !important;
    height: 80px !important;*/
   	width: 168px !important;
   	height: 74px !important;
    margin: 15px auto 0;
    background-color: aliceblue;
    overflow: hidden;
}
.preview canvas {
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
}
.uploadbtns-group {
    box-sizing: border-box;
    height: 65px;
    padding-top: 20px;
    text-align: center;
}
.upload-confirm, .upload-cancel {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    padding: 0;
    border-radius: 2px;
    line-height: 30px;
    cursor: pointer;    
}
.upload-confirm {
    margin-right: 20px;
    background-color: #003a8c;
    color: #fff;
    border-radius: 2px;
}
.upload-cancel {
    border: 1px solid #003a8c;
    color: #003a8c;
    background-color: transparent;
}